<h1> 
    <nav>
        <a href="index.html">Home</a>|
        <a href="about.html">About</a>|
        <a href="temp\contact.html">contact</a>
    </nav>
    <div class="card border-danger text-center">
        <div class="card-header color-black  border-danger">
            <div class="background-color-red">
                Angular Quiz-question
                <div class="text-right">
                    Total mark =100
            
        </div>
    </div>
        </div>
        </div>
</h1>
<app-quiz></app-quiz>
